.portfolio-detail__gallery-item {
    display: block;
    margin-bottom: 40px;
}

.portfolio-detail__description {
    color: $gray-dark;
    border-bottom: solid 1px $gray-medium;
    padding-bottom: 20px;
    margin-bottom: 30px;
}