.portfolio-detail__gallery-item {
    display: block;
    margin-bottom: 40px;
}

.portfolio-detail__description {
    color: $gray-dark;
}

.portfolio-detail__separator {
    border: none;
    border-top: 1px solid $gray-medium;
    margin: 20px 0 30px;
}