@import "compass";
@import "mixins";
@import "normalize";
@import "variables";
@import "components/portfolio";
@import "components/portfolioItem";
@import "components/portfolioItemDetail";
@import "components/dribbbleShots";
@import "components/loadingIndicator";

// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Glegoo:400,700);

@include establish-baseline;

*, *:before, *:after  {
    @include box-sizing("border-box");
}

a {
    color: $white;
}

footer {
    @include adjust-font-size-to(12px, .75);
    color: $gray-dark;
    margin: 40px 0 20px;
    text-align: center;

    a {
        color: $gray-dark;
        font-weight: bold;
    }
}

html {
    background-color: $gray;
    color: $white;
    font-family: "Glegoo", serif;
}

header {
    .logo {
        display: block;
        margin: 40px auto 5px;
        width: 130px;
    }
    .nav {
        margin: 0 auto 20px;
        padding: 0;
        text-transform: uppercase;
        text-align: center;

        li {
            display: inline-block;
            margin: 0 10px;
        }

        a {
            height: 40px;
            line-height: 40px;
        }
    }
}

img {
    width: 100%;
}

.content, footer {
    margin-left: auto;
    margin-right: auto;
    width: 88%;

    @include min-screen($tablet) {
        width: 600px;
    }
}

.content {
    &.dribbble {
        width: 100%;

        @include min-screen($tablet) {
            width: 600px;
        }
    }
}

.intro {
    @include adjust-font-size-to(20px, 1.25);
    font-weight: normal;
}

.love {
    position: relative;

    &:before {
        background-color: $gray-ligth;
        content: "";
        display: block;
        height: 2px;
        left: 0;
        position: absolute;
        top: 8px;
        width: 100%;
    }
    .icn-love {
        background-color: $gray;
        padding: 0 5px;
        display: block;
        height: 20px;
        margin: 0 auto;
        position: relative;
        width: 32px;
    }
}
